*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: "poppins", sans-serif;
}
body{
  display:flex;
  height: 100vh;
  justify-content: center;
  background-color: whitesmoke;
}
label{
  text-align: right;
  width:17%;  
  padding-right: 1.4rem;
  font-size: 0.9rem; 
  /* font-stretch: 85%; */
  
}
label::after{
  content: " : ";
  
}
select{
  display: block;
  width:43%;
  height:2rem;
  padding-left: 1rem;
  border-radius: 5px;
  border-style: solid;
  border-color: whitesmoke;
  border-width: 2px;
  height: 2.3rem;
  
}
input[type=text]{
  display: block;
  width:43%;
  height:2rem;
  text-indent:1rem;
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  border-color: whitesmoke;
  height: 2.3rem;
  
}
::placeholder{
  color:grey;
  
}
span{
  display: flex;
  padding:0.9rem 0;
  align-items: center; 
}




/* Classnames*/

.section-center {
  width: 75vw;
  
  background: white;
  margin-top: 6.3rem;
  
  border-style: solid;
  border-color: rgb(223, 224, 225);
  border-width: 1px;
  border-radius: 5px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
 }
 .line{
   border-bottom: solid;
   border-width: 1.5px;
   border-color: rgb(223, 224, 225);
   margin-right: 0.5rem;
 }
 .line p{
   padding:1rem;
   font-weight: bold;
   font-size: 0.9rem;
   font-stretch: 90%;
  
 }
 .left-line{
   border-left: solid;
   border-width: 3.5px;
   border-color: whitesmoke; 
   margin-left:0.5rem;
   margin-top: 0.5rem;
   margin-bottom: 0.5rem;
 }
.form-layout{
  display: flex;
  flex-direction: column;
  padding-left: 6.5rem;
}

.status-bar{
  justify-content: left;
}
.status-bar input{
  height: 1rem;
  width: 1rem;
}
.image-bar{
  align-items:center; 
}
.image-bar input{
  padding-left: 1rem;
}
.btn-container{
  
  margin-top: -1rem;
  margin-left: 16%;
  
 
}
.btn-table{
  border:0;
  background: #343050;
  padding: 0.5rem;
  color:white;
  border-radius: 5px;
  margin: 0.3rem;
  height: 2.3rem;
  font-size: 1.05rem;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
}
.btn-cancel{

  border:0;
  background:red;
  padding: 0.5rem;
  color:white;
  border-radius: 5px;
  margin: 0.3rem;
  height: 2.3rem;
  font-size: 1.05rem;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
}
